<% if flash[:notice] %>
  <div class="alert alert-success"><%= flash[:notice] %></div>
<% end %>

<%= image_tag(avatar_url(@user), width: "50", height: "50") %>
<p><%= @user.name %></p>

<%= link_to "My Calenders", calendar_path %>
