.user-info {
  text-align: left;
  color: $secondary-text;
  padding-top: 40px;

  .user-name {
    font-size: $font-huge;
  }

  .user-status {
    font-size: $font-big;
  }
}

.feedback {
  a {
    color: $accent;
    text-decoration: none;
    font-size: $font-big;
  }

  padding-top: 40px;
}

.feedback-list {
  background-color: $divider;
  margin: 100px auto;
  padding: 10px;

  .feedback-row {
    color: $primary-text;
    padding: 10px;
    background-color: $text;
  }
}
